/* .preloader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: fadeOut 1s ease-in-out;
  animation-delay: 2s;
}

.loader-icon {
  width: 200px;
  height: 200px;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
} */
